$primary: #3740ff;
$primary-dark: #272eb5;
$primary-light: #3470ff;
$primary-x-light: #e8f0fe;

$light: #ffffff;
$dark: #202124;
$off-white: #f3f4f4;

$mid: #5f6368;
$mid-dark: #3c4043;

$stroke: #dadce0;
