.box {
  padding: var(--metric-box-spacing);
  // max-width: 40rem;

  font-weight: 500;
  text-align: center;

  border: 1px solid var(--color-stroke);
  box-shadow: var(--generic-shadow);

  &:not([class*="bg-"]) {
    background: var(--color-off-white);
  }
}
