.code {
  padding: 0.125em 0.25em;
  background: var(--color-off-white);

  font-family: var(--font-mono);
  font-size: 0.85em;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  box-decoration-break: clone;

  border: 1px solid var(--color-stroke);
}
